{% extends "layout.html" %}

{% block content %}

    <h2>Add New Anime/Manhwa</h2>

    <form method="POST">

        <label>Title: <input type="text" name="title" required></label><br><br>
        <label>Progress:
            <select name="progress" required>
                <option value="Ongoing">Ongoing</option>
                <option value="Finished">Finished</option>
                <option value="Pending">Pending</option>
            </select>
        </label><br><br>

        <label>Type:
            <select name="type" required>
                <option value="Anime">Anime</option>
                <option value="Manhwa">Manhwa</option>
            </select>
        </label><br><br>

        <label>Rating:
            <select name="rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label><br><br>

        <label>Genres:</label><br>
        {% for genre in [
        "Action", "Adventure", "Comedy", "Drama", "Fantasy", "Romance", "Sci-Fi",
        "Mystery", "Thriller", "Horror", "Slice of Life", "Supernatural",
        "Historical", "Psychological", "Tragedy", "Sports", "Mecha", "Military",
        "Music", "Magic", "Martial Arts"
        ] %}
        <input type="checkbox" name="tags" value="{{ genre }}"> {{ genre }} <br>
{% endfor %}


<label>Image URL (optional): <input type="text" name="image_url"></label><br><br>
<label>Additional Comments: <input type="text" name="comments" required></label><br><br>
<button type="submit" class="search-btn">Add</button>

</form>

{% endblock %}
